numpy~=2.1.3
pandas~=2.2.3
scipy~=1.15.2
pydantic
matplotlib~=3.9.3
statsmodels~=0.14.4
numdifftools~=0.9.41
yfinance
pycodestyle
coverage
build
twine
notebook
jupyter
requests_cache
arch~=7.2.0
scikit-learn
requests~=2.32.3
ipython~=8.30.0